<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script src="/js/main.js"></script>
<script>
    function addDarkmodeWidget() {
      new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  </script>
</body>
  <div style="color: rgb(151, 151, 151); text-align: center; text-emphasis:circle; margin-bottom:0;"> <h6 style="padding: 0; margin-bottom:0;">Copyright © XYZ Labs Pvt. Ltd.</h6> </div>
  
</html>